# Data Types and Data Wrangling

In [1]:
#import libraries
import numpy as np
import pandas as pd

## Reading files of different data types

In [4]:
#read csv file and save as csv file
csv_file = pd.read_csv('C:/Users/Ganiyat Omotola/Desktop/Hamoye DS Internship/Stage A/sample data/sample data.csv')
csv_file

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [5]:
#save files as csv
csv_file.to_csv('file.csv', index = False)

In [7]:
#read excel files
excel_file = pd.read_excel('C:/Users/Ganiyat Omotola/Desktop/Hamoye DS Internship/Stage A/sample data/sample data.xlsx')
excel_file

    Unnamed: 0 Unnamed: 1                                         Unnamed: 2
0          NaN        NaN                                                NaN
1          NaN        NaN                                                NaN
2          NaN        NaN                                                NaN
3          NaN        NaN                            Online Instruction Page
4          NaN        NaN                              Sample Data for Excel
5          NaN        NaN                                                NaN
6          NaN        NaN                                  Related tutorials
7          NaN        NaN                                 Named Excel Tables
8          NaN        NaN                                    Data Entry Tips
9          NaN        NaN                            More Excel Sample Files
10         NaN        NaN                                                NaN
11         NaN        NaN                       Related Contextures Products
12         NaN        NaN                     Contextures Excel Tools Add-in
13         NaN        NaN                               Data Entry Popup Kit
14         NaN        NaN                                                NaN
15         NaN        NaN  Get weekly Excel tips, tutorials, videos, and ...
16         NaN        NaN                       Contextures Excel Newsletter
17         NaN        NaN                                                NaN
18         NaN        NaN                                              Notes
19         NaN          â€¢  SalesOrders sheet has sales data for a fiction...
20         NaN          â€¢  The Total column could be changed to a formula...

In [8]:
#save excel file
excel_file.to_excel('file.xlsx', index=False)

In [10]:
#read table from webpage and save as dataframe
html_file = pd.read_html('https://www.contextures.com/xlSampleData01.html')
html_file

[             0        1         2        3      4         5        6
 0    OrderDate   Region       Rep     Item  Units  UnitCost    Total
 1     1/6/2019     East     Jones   Pencil     95      1.99   189.05
 2    1/23/2019  Central    Kivell   Binder     50     19.99   999.50
 3     2/9/2019  Central   Jardine   Pencil     36      4.99   179.64
 4    2/26/2019  Central      Gill      Pen     27     19.99   539.73
 5    3/15/2019     West   Sorvino   Pencil     56      2.99   167.44
 6     4/1/2019     East     Jones   Binder     60      4.99   299.40
 7    4/18/2019  Central   Andrews   Pencil     75      1.99   149.25
 8     5/5/2019  Central   Jardine   Pencil     90      4.99   449.10
 9    5/22/2019     West  Thompson   Pencil     32      1.99    63.68
 10    6/8/2019     East     Jones   Binder     60      8.99   539.40
 11   6/25/2019  Central    Morgan   Pencil     90      4.99   449.10
 12   7/12/2019     East    Howard   Binder     29      1.99    57.71
 13   7/29/2019     East    Parent   Binder     81     19.99  1619.19
 14   8/15/2019     East     Jones   Pencil     35      4.99   174.65
 15    9/1/2019  Central     Smith     Desk      2    125.00   250.00
 16   9/18/2019     East     Jones  Pen Set     16     15.99   255.84
 17   10/5/2019  Central    Morgan   Binder     28      8.99   251.72
 18  10/22/2019     East     Jones      Pen     64      8.99   575.36
 19   11/8/2019     East    Parent      Pen     15     19.99   299.85
 20  11/25/2019  Central    Kivell  Pen Set     96      4.99   479.04
 21  12/12/2019  Central     Smith   Pencil     67      1.29    86.43
 22  12/29/2019     East    Parent  Pen Set     74     15.99  1183.26
 23   1/15/2020  Central      Gill   Binder     46      8.99   413.54
 24    2/1/2020  Central     Smith   Binder     87     15.00  1305.00
 25   2/18/2020     East     Jones   Binder      4      4.99    19.96
 26    3/7/2020     West   Sorvino   Binder      7     19.99   139.93
 27   3/24/2020  Central   Jardine  Pen Set     50      4.99   249.50
 28   4/10/2020  Central   Andrews   Pencil     66      1.99   131.34
 29   4/27/2020     East    Howard      Pen     96      4.99   479.04
 30   5/14/2020  Central      Gill   Pencil     53      1.29    68.37
 31   5/31/2020  Central      Gill   Binder     80      8.99   719.20
 32   6/17/2020  Central    Kivell     Desk      5    125.00   625.00
 33    7/4/2020     East     Jones  Pen Set     62      4.99   309.38
 34   7/21/2020  Central    Morgan  Pen Set     55     12.49   686.95
 35    8/7/2020  Central    Kivell  Pen Set     42     23.95  1005.90
 36   8/24/2020     West   Sorvino     Desk      3    275.00   825.00
 37   9/10/2020  Central      Gill   Pencil      7      1.29     9.03
 38   9/27/2020     West   Sorvino      Pen     76      1.99   151.24
 39  10/14/2020     West  Thompson   Binder     57     19.99  1139.43
 40  10/31/2020  Central   Andrews   Pencil     14      1.29    18.06
 41  11/17/2020  Central   Jardine   Binder     11      4.99    54.89
 42   12/4/2020  Central   Jardine   Binder     94     19.99  1879.06
 43  12/21/2020  Central   Andrews   Binder     28      4.99   139.72]

In [11]:
html_file.to_html('file.html')

AttributeError: 'list' object has no attribute 'to_html'